*{box-sizing:border-box;}
html{scroll-behavior:smooth;}
body{margin:0;background-color: #050510;color: white;font-family: 'Arial', sans-serif;}

#navbar{width:90%;
    margin: 25px auto;
padding: 15px 25px;

display: flex;
justify-content: space-between;
align-items: center;

background-color: rgba(90,40,150,0.25);
border-radius: 30px;
border: 1px solid rgba(180,120,255,0.35);}

#navbar h2 {margin:0;}
.nav-links{display: flex;gap: 25px;}

#navbar a {color: white;text-decoration: none;}
#navbar a:hover {color: #c995ff;}

#home{
    width: 90%;
    margin: 40px auto;
    min-height: 600px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 60px;

    background-color: rgba(70,30,120,0.18);
    border-radius: 40px;
    border: 1px solid rgba(180,120,255,0.25);
}

.hero-text{
    width: 50%;
}
.hero-text h1{font-size: 60px;margin-bottom: 20px;}

.hero-text p{font-size: 20px;line-height: 1.6;color: #d8c8e8;}

.hero-image{
    width: 40%;
    height: 450px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.astronaut-placeholder{
    font-size: 150px;
}